html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #f8fcfb;
}

*, ::after, ::before{
    box-sizing: inherit;
}

:root{
    --buttonWidth: 55px;
}

.pomodoroTimer{
    width: 100%;
    max-width: 800px;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-inline: auto;
    margin-block-start: 2em;
    padding: 25px;
    background-color: #eb16167d;
    box-shadow: 0px 0px 24px -7px rgba(181, 181, 183, 1);
    -webkit-box-shadow: 0px 0px 24px -7px rgba(181, 181, 183, 1);
    -moz-box-shadow: 0px 0px 24px -7px rgba(181, 181, 183, 1);
    /* background-image: url("https://source.unsplash.com/featured/1000x600");
    background-position: center;
    background-size: contain; */
}

.timerMenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.timerMenu__button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.timerMenu__button:hover{
    opacity: 0.8;
}

.timerMenu__icon{
    width: 100%;
    max-width: 20px;
}

.timerHeader__title{
    margin-block-start: 0.3em;
}

.pomodoroTimer--pomodoro{
    background-color: #eb16167d;
}

.pomodoroTimer--shortBrake{
    background-color: #16b3e8;
}

.pomodoroTimer--longBrake{
    background-color: #3dc218;
}

.timeCounterDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeCounter{
    font-size: 55px;
    font-weight: 700;
    margin-block-end: 20px;
    /* color: #fff; */
}

.sessionCounter{
    font-size: 28px;
    font-weight: 500;
}

.counterButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: calc((var(--buttonWidth) * 3) + 10px);
    margin-inline: auto;
}

.counterButton{
    flex-basis: 35%;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.counterButton__reset{
    flex-basis: 60%;
}

.countingStatus{
    display: flex;
    justify-content: center;
}

.status{
    font-size: 20px;
    text-transform: capitalize;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 15px;
    margin: 0;
    background-color: #eb16167d;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: all ease-in-out 2s;
    /* text-transform: ca; */
}

.status--pomodoro{
    background-color: #eb16167d;
}

.status--shortBrake{
    background-color: #2e90b07a;
}

.status--longBrake{
    background-color: #57ea2f81;
}


.pomodoroSettings{
    border: 1px solid #000;
    width: fit-content;
    padding: 10px;
}

.pomodoroSettings--disabled{
    display: none;
}